<!DOCTYPE html>
<html lang="en" ng-app>

<head>
	<meta charset="UTF-8">
	<title>Daryl Moreno Torrez</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta name="Description" content="Sitio personal del Ing. Daryl Moreno Torrez, Estudios, Conocimientos y portafolio" />
	<meta name="Keywords" content="Daryl Moreno Torrez" />
	<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="google-site-verification" content="VFFY9nMGu8avZxtAF5e35_k4r_mDPkmVyG_kRC17o-M">

	<meta property="og:title" content="Ing. Daryl Moreno Torrez" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://www.darylmoreno.me/" />
	<meta property="og:image" content="http://www.darylmoreno.me/img/daryl.png" />
	<meta property="og:description" content="Sitio personal del Ing. Daryl Moreno Torrez" />

	<link rel="icon" href="favicon.png" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<div id="app">
		<header>
			<nav class='col'>
				<div class="left s12 m4">
					<h1>Daryl Moreno</h1>
				</div>
				<div id='menuflex' class="right s12 m8">
					<ul class='options'>
						<li><a href="#section1"><i class='icon user-tie'></i>Presentación</a></li>
						<li><a href="#section2"><i class='icon school'></i>Estudios</a></li>
						<li><a href="#section3"><i class='icon flag'></i>Conocimientos</a></li>
						<li><a href="#section4"><i class='icon briefcase'></i>Portafolio</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<div id="menuflexbtn">
			<span></span>
			<span></span>
			<span></span>
		</div>

		<section id='section1' class='section1 page'>
			<div class="container">
				<h2 class='center welcome title'>¡Hola! ¡Bienvenidos!</h2>
				<div class="box">
					<div class="col">
						<div class="s12 m4">
							<img class='responsive-img' src="img/daryl.png">
						</div>
						<div class="s12 m8 ">
							<div class="right">
								<h2>Daryl Moreno Torrez</h2>
								<p>Ingeniero en Sistemas. </p>
								<hr/>
								<div class="data">
									<p><i class="icon wrench"></i>Desarrollador Web Full Stack. </p>
									<p><i class="icon location"></i>Nacionalidad: Americana </p>
									<p><i class="icon location2"></i>Vive en: Nicaragua</p>
									<p><i class="icon cake"></i>Edad: {{age()}}</p>
									<p><i class="icon mail-envelope-open"></i>morenodaryl@hotmail.com</p>
									<p><i class="icon twitter"></i><a href="http://twitter.com/morenodaryl" target='_blank'>@morenodaryl</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id='section2' class="section2 page">
			<div class="content">
				<h2 class='center title'>Estudios</h2>
				<div class="center">
					<div class="col timeline">
						<div class="s12 m2 year-container">
							<h3 class="year">2001 - 2003</h3>
						</div>
						<div class="s12 m10">
							<div class="timeline-description">
								<h3>Inicio estudios en escuela Primaria Adventista</h3>
								<p><strong>Lugar: </strong>La Trindad - Estelí</p>
							</div>
						</div>
					</div>
					<div class="col timeline">
						<div class="s12 m2 year-container">
							<h3 class="year">2003 - 2005</h3>
						</div>
						<div class="s12 m10">
							<div class="timeline-description">
								<h3>Culmino mis estudios primarios en Escuela Bautista</h3>
								<p><strong>Lugar: </strong>La Trindad - Estelí</p>
							</div>
						</div>
					</div>
					<div class="col timeline">
						<div class="s12 m2 year-container">
							<h3 class="year">2006 - 2010</h3>
						</div>
						<div class="s12 m10">
							<div class="timeline-description">
								<h3>Culmino estudios en escuela secundaria REACH</h3>
								<p><strong>Lugar: </strong>La Trindad - Estelí</p>
							</div>
						</div>
					</div>
					<div class="col timeline">
						<div class="s12 m2 year-container">
							<h3 class="year">2011 - 2015</h3>
						</div>
						<div class="s12 m10">
							<div class="timeline-description">
								<h3>Ingeniería en Sistemas en la Universidad Nacional de Ingenierías UNI RUACS</h3>
								<p><strong>Lugar: </strong>Estelí</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id='section3' class="section3 page">
			<h2 class='center title'>Conocimientos</h2>
			<div class="content">
				<div class="col">
					<div class="s12 m4 l2" v-for="k in knowledge">
						<div class='logo' draggable='true'>
							<div class="csslogo" v-bind:class='k.class'></div>
							<div class="description">{{k.desc}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vermas">Ver Más</div>
		</section>

		<section class="contact">
			<h2 class='title center'>Contacto</h2>
			<form action="https://formspree.io/morenodaryl@hotmail.com" method="POST" class='contact-form'>
				<div class="form-control col">
					<label for="name">Name</label>
					<input type="text" name="name" required="true">
				</div>
				<div class="form-control col">
					<label for="email">Email</label>
					<input type="email" name="_replyto" required="true">
				</div>
				<div class="form-control col">
					<label for="message">Message</label>
					<textarea name='message' required="true"></textarea>
				</div>
				<input type="submit" value="Send" />
			</form>
		</section>

		<section id='section4' class="section4">
			<h2 class='title center'>Portafolio</h2>
			<div class='col center'>
				<div class='s12 m6 l4' v-for='p in portfolio'>
					<div class="marginproject">
						<div class="project">
							<h3>{{p.title}}</h3>
							<p> {{p.desc}}
								<br/>
								<a v-bind:href="p.url">{{p.url}}</a></p>
							<a v-bind:href="p.url" target='_blank'><img v-bind:src='p.img'/></a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
	<script src="myvue.js"></script>
	<script src='script.js'></script>
</body>

</html>
